{% extends "base.html" %}
{% block title %}About the Blugold Group{% endblock %}
{% block content %}

{% block style %}
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/tempemailoptoutuntilwefigureouttherestofthecssforthesite.css">
{% endblock %}


<h1 style="text-align: center; font-size: 60px;">UWEC Marketing Email Opt Out</h1>

<section>
    <h2>UWEC Students Opt-Out of Marketing Emails</h2>
    <p>The <a href="https://www.milwaukee.gov/ImageLibrary/Groups/cntySheriff/documents/publicrecords805.pdf">Wisconsin Public Records Laws</a> was passed with the goal of improving transperency in Wisconsin government. Under it, citizens can request the records from any state agency, including University of Wisconsin schools.</p>

    <p>Because UW-Eau Claire is a public university, it has to comply with Public Records Laws. This means that any company, organization, or individual can request records (that don't ______) on <a href="https://www.wisconsin.edu/compliance/public-records/">students from the univeristy</a>.</p>

    <p><i>That's why every gets so many emails from housing companies about off campus housing. Those companies can request a list of every UWEC students' email for marketing purposes.</i></p>

    <p><b>But there's a way to stop this</b></p>

    <p>You can opt-out of commercial uses of your UWEC email by</p>
    <p>Going to <a href="https://camps.uwec.edu">camps.uwec.edu</a></p>
    <p>Clicking <b>Academic Records</b></p>
    <p>Clicking <b>Third-Party Email Access</b></p>
    <p>Mark <b>"Exclude"</b></p>
    <p>And <b>"Save"</b></p>
</section>

{% endblock %}
